.media {
    margin-top: 10px;
    display: inline-block;
    vertical-align:top;
}

.content {
    width: 45%;

    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    border-radius: 5px;
  
}

.title {
    background-color: lightgrey;
    border: 1px solid grey;
    text-align: center;
    padding: 8px;
    font: bolder;
}

.one {
    height: 400px;
    overflow: scroll; 
    padding-left: 5px;   
}

.links {
    text-decoration: underline;
}

td:nth-child(odd) {
    background-color: lightgrey;
}