<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Company</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'companies/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewcompanies">View/Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                <p >**{{ message }}**</p>
            {% endfor %}
        </div>
        {% endif %}
        <h6 style="margin-top: 10px">Company Info:</h6>
        <div class="input-group input-group-sm" id="info">
            <form action="/addcompaniesdata", method="post">
                {% csrf_token %}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Name:</span>
                
                <input type="text" name="name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Address:</span>
                
                <input type="text" name="address" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">City:</span>
                
                <input type="text" name="city" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">State:</span>
                
                <input type="text" name="state" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Zip Code:</span>
                
                <input type="number" name="zip_code" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <hr/>
            <h6>Contact Info:</h6>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number:</span>
                
                <input type="text" name="phone" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                
                <input type="email" name="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Website:</span>
                
                <input type="text" name="website" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Fax:</span>
                
                <input type="text" name="fax" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Tax ID:</span>
                
                <input type="text" name="taxid" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <hr/>
            
                <input type="submit" class="btn btn-primary mb-2" value="Add">

            </form>
        </div>

    </div>
</body>
</html>