<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        
        {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                <p >**{{ message }}**</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <h3>Register</h3>
            <form action="/register" method="POST">
                {% csrf_token %}
                <label for="formGroupExampleInput">First Name:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="first_name">
                <label for="formGroupExampleInput">Last name:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="last_name">
                <label for="formGroupExampleInput">Email:</label>
                <input type="email" class="form-control" id="formGroupExampleInput2" name="email">
                <label for="formGroupExampleInput">Password:</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" name="password" placeholder="At least 8 characters">
                <label for="formGroupExampleInput">Confirm PW:</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" name="confirm_pw">
                <input type="submit" class="btn btn-primary mb-2" value="Register">
            </form>
        </div>

        <div class="group">
            <h3>Login</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <input type="submit" class="btn btn-primary mb-2" value="Login">
            </form>
        </div>
    </div>

</body>
</html>