<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'projects/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addprojects">Add a project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewprojects">View/Edit other projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                <p >**{{ message }}**</p>
            {% endfor %}
        </div>
        {% endif %}
        <h6>Project Profile:</h6>
        <div class="input-group input-group-sm" id="info">
            
            <form action="/addprojectsdata", method="post">
                {% csrf_token %}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Title:</span>
                
                <input type="text" name="title" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Company:</span>
                
                    <select name="project">
                            <option value="">Please select: (required)</option>
                        {% for company in companys %}
                        
                            <option value="{{company.id}}">{{company.id}}. {{company.name}} | {{company.address}}, {{company.city}} {{company.state}}</option>
                        
                        {% endfor %}
                        </select>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Billing Code:</span>
                
                <input type="number" name="billing_code" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Billing Rate:</span>
                
                    <select name="rate_type" class="form-control">
                        <option value="">Select</option>
                        <option value="hourly">By hour</option>
                        <option value="fixed">Fixed rate</option>
                    </select>
                </div>
                <input type="text" name="billing_rate" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                </div>

                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Notes:</span>
                
                    <input type="text" name="note" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <input type="submit" class="btn btn-primary mb-2" value="Add">

            </form>
        </div>

    </div>
</body>
</html>